._countries{
    .countryCard{
        box-shadow: -1px 9px 18px -5px rgba(17,17,17,1); 
        margin-bottom: 30px;
        &__picture{
            @include height-width($height:350px, $width: 100%);
        }
        &__title{
            padding: 10px 0;
            font-size: 1.5rem;
            background-color: rgba(255,255,255, 0.8);    
            @include absolute($left:0, $top:unset, $right:unset, $bottom:5%, $transform:unset);
            width: 85%;
        }
    }
}