._culture{
    .culture{
        &__picture{
            @include height-width($height:650px, $width:100%);
        }
        &__title{
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 30px;
        }
    }
}