._header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 9;
    padding: 20px 0;
    background-color:$brand-color ;
    @include transition(0.3s all ease);
    .navigation {
        &__item *{
            @include navigation;
            @include transition(0.3s all ease);
        }
    }
    .logo{
        &__text{
            font-size: 2rem;
            color: $white;
        }
    }
    &__scroll {
        background-color: $white;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        padding: 15px 0;

        .navigation {
            &__item *{
                color: $black;
            }
        }
        .logo{
            &__text{
                color: $black;
            }
        }
    }
}