._hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .hero {
    &--content{
        position: relative;
        z-index: 3;
        color: white;
    }
    &--title {
      font-size: 3.3rem;
      font-weight: 600;
      line-height: 1;
      margin-bottom: 30px;
    }
    &--description{
      font-size: 1.8rem;
      font-weight: normal;
      line-height: 1;
    }
  }
}
