body{
  font-family: "Montserrat", sans-serif !important;
}
.section{
  margin-bottom:50px;
  &__my{
    margin-top: 100px;
    margin-bottom:100px;
  }
  &__mt{
    margin-top: 100px;
  }
  &__mb{
    margin-bottom: 100px;
  }
  &__title{
    font-size: 2.2rem;
    font-weight: bold;
}
}
.ex{
  &__loader{
    margin-top: 188px;
    margin-bottom: 100px;

  }
}
.objectFit{
  &__cover{
    object-fit: cover;
  }
  &__contain{
    object-fit: contain;
  }
}

.borderRadius{
  &__common{
    border-radius: 12px;
  }
  &__circle{
    border-radius: 100%;
  }
}