/* transition mixins */
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

/* height width mixins*/
@mixin height-width($height, $width){
    height: $height;
    width: $width;
}
/* position absolute */
@mixin absolute($top, $left, $bottom, $right, $transform){
    position: absolute;
    top: $top;
    bottom: $bottom;
    right:$right;
    left: $left;
    transform: $transform;
}
@mixin background-image($url,$size,$position){
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: $size;
    background-position: $position;
}